body{
  background-color: #FEE3EC

}

hr{
    border-style: none; 
    border-top-style: dotted ;
    border-color: rgb(65, 65, 65);
    border-width: 10px;
    height: 50px;
    width: 15%;      
}

img{
  height: 200px;
}

h1{

  color: #F2789F
}

h3{

  color: #F2789F
}